.construction-i{
  background-size: cover;
  padding: 326px 0;
  background-image: url(asset_path("construction.jpg"));
}

.construction-i h1 {
  margin-left: 22%;
  margin-top: -135px;
  color: rgb(131, 216, 231);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.construction-i h4 {
  margin-left: 33%;
  color: rgb(131, 216, 231);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.botao {
  position: relative;
  margin-left: 45%;
}
