.show-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
   iframe {
    border-radius: 6px;
  }
}

.show-buttom {
  justify-content: space-between;
  display: inline;
}

.show-description {
  max-height: 400px;
  overflow: scroll;
}

