// Specific CSS for your home-page
body {
  overflow-x: hidden;
}

h2{
  position: relative;
  margin-top: 10px;
}

p{
  position: relative;
  margin-top: 10px;
}

.img-mid-banner{
  position: relative;
  margin-bottom: 150px;
  justify-content: center;
  justify-items: center;
  margin-left: 417px;
  margin-top: 110px;
  box-shadow: 3px 3px 3px 3px grey;
  height: 520px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}