#comments {
  max-height: 700px;
  border-radius: 2px;
  overflow: scroll;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lesson-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
}

.lessons-index {
  background-color: #fff;
  background-clip: padding-box;
  max-height: 500px;
  border: 2px solid #ced4da;
  border-radius: 2px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
