#comments {
  max-height: 700px;
  overflow: scroll;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lesson-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  iframe {
    border-radius: 6px;
  }
}

.lessons-index {
  background-color: #fff;
  background-clip: padding-box;
  max-height: 400px;
  border: 2px solid #ced4da;
  border-radius: 2px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.lesson-description {
  max-height: 400px;
  overflow: scroll;
}

.list-group {
  border-radius: 6px;
  a {
    color: #5C677D;
  }
  i {
    color: #0353A4;
  }
  .list-group-item:hover {
    background-color: #0466C8;
    a {
      color: #F4F5F6;
    }
    i {
      color: #F4F5F6;
    }
  }
}


.comment-form {
  display: inline;
}
