<div id="carousel" class="carousel slide carousel-fade banner" data-ride="carousel">
  <div class="carousel-inner h-100">
    <div class="carousel-item active w-100 h-100">
      <div class="d-block w-100 h-100 banner-cover" style="background-image: linear-gradient(to bottom, rgba(3, 83, 164,0.3),rgba(3, 83, 164,0)), url(<%= image_path("banner1_1.jpg") %>);"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Mude sua vida com o EduQuebrada!</h1>
        <p>Comece o curso que sempre sonhou de graça e
        inicie a carreira que sempre sonhou.</p>
      </div>
    </div>


    <div class="carousel-item w-100 h-100">
      <div class="d-block w-100 h-100 banner-cover" style="background-image: linear-gradient(to bottom, rgba(3, 83, 164,0.3),rgba(3, 83, 164,0)), url(<%= image_path("banner2.jpg") %>);"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Transforme a vida de pessoas!</h1>
        <p>Ensine suas habilidades e de oportunidades de pessoas
        mudarem sua vida com a carreira dos sonhos.</p>
      </div>
    </div>

    <div class="carousel-item w-100 h-100">
      <div class="d-block w-100 h-100 banner-cover" style="background-image: linear-gradient(to bottom, rgba(3, 83, 164,0.3),rgba(3, 83, 164,0)), url(<%= image_path("banner3.jpg") %>);"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 class ="banner-text">Conheça sobre o projeto EduQuebrada</h1>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
