<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Categorias</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Mais relevantes</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Cursos Novos</a>
  </li>
</ul>