<footer>
    <div class="row">
      <div class="logo col-md-4 col-sm-6 col-xs-12">
          <span class="img"><%= image_tag 'logo.png' %></span>
          <h5>EduQuebrada - Quebrando os tabus da educação!</h5>
          <p>Um projeto que nasceu de forma despretenciosa durante um curso de programação
          e pretende se tornar uma força de destruição sobre os tabus criados
          sobre o acesso a informação!</p>
      </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <ul class="menu">
            <span>Menu -</span>    
            <li>
              <a href="#">Home</a>
            </li>
                  
            <li>
                <a href="#">Cursos</a>
            </li>
                  
            <li>
              <a href="#">Seja um professor</a>
            </li>
                  
            <li>
                <a href="#">Conheça o EduQuebrada</a>
            </li>
            </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6">
        <ul class="address">
              <span>Contato</span>       
              <li>
                  <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
              </li>
              <li>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
              </li> 
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#"><small>educa.quebrada@gmail.com</small></a>
              </li> 
        </ul>
      </div>
  </div> 
</footer>