<section class="rc-AchieveYourGoals">
  <h2 class="rc-AchieveYourGoals__title">Comece a carreira do seu sonho com o EduQuebrada</h2>
    <ul class="rc-AchieveYourGoals__value-prop-list">
      <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container mb-3">
          <%= image_tag 'guide1.png'%>
        </div>
  <h3 class="rc-AchieveYourGoals__value-prop-title">
    <span><strong>Conheça nossos cursos </strong>
      <small class="mt-4 mr-2 mx-2">como análise de negócios, design gráfico, programação e muito mais</small>
    </span>
  </h3>
  </li>
  <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container mb-3">
          <%= image_tag 'guide3.png'%>
        </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
          <span><strong>Ganhe um certificado</strong> <br>
            <small class="mt-4 mr-2 mx-2">de um curso feito por alguém com experiência na área</small>
          </span>
        </h3>
      </li>
    <li class="rc-AchieveYourGoals__value-prop-item">
      <div class="img-container mb-3">
        <%= image_tag 'guide2.png'%>
      </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
        <span><strong>Conquiste a carreira </strong> <br>
          <small class="mt-4 mr-2 mx-2">onde sempre sonhou de qualquer lugar em qualquer horário</small>
        </span>
        </h3>
      </li>
      <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container mb-3">
          <%= image_tag 'guide4.png'%>
        </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
          <span><strong>Give it back! </strong>
            <small class="mt-4 mr-2 mx-2">Ganhe certificados,
            conquiste o mercado de trabalho e volte para ensinar!
            </small>
          </span>
        </h3>
      </li>
    </ul>
</section>
