<section class="rc-AchieveYourGoals">
  <h2 class="rc-AchieveYourGoals__title">Comece a carreira do seu sonho com o EduQuebrada</h2>
    <ul class="rc-AchieveYourGoals__value-prop-list">
      <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container">
          <%= image_tag 'guide1.png'%>
        </div>
  <h3 class="rc-AchieveYourGoals__value-prop-title">
    <span>Conheça nosso cursos 
      <small>como análise de negócios, design gráfico, programação e muito mais</small>
    </span>
  </h3>
  </li>
    <li class="rc-AchieveYourGoals__value-prop-item">
      <div class="img-container">
        <%= image_tag 'guide2.png'%>
      </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
        <span>Conquiste a carreira 
          <small>onde sempre sonhou de qualquer lugar em qualquer horário</small>
        </span>
        </h3>
      </li>
      <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container">
          <%= image_tag 'guide3.png'%>
        </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
          <span>Ganhe um certificado 
            <small>de um curso feito por alguém com experiência na área</small>
          </span>
        </h3>
      </li>
      <li class="rc-AchieveYourGoals__value-prop-item">
        <div class="img-container">
          <%= image_tag 'guide4.png'%>
        </div>
        <h3 class="rc-AchieveYourGoals__value-prop-title">
          <span>Give it back! <small>Ganhe certificados, conquiste o mercado de trabalho e volte para ensinar</small></span>
        </h3>
      </li>
    </ul>
</section>