<div id="wrapper" class="toggled">
        <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">EduQuebrada</a>
        </li>
        <li>
            <a href="#">Cursos</a>
        </li>
        <li>
            <a href="#">Categorias</a>
        </li>
        <li>
            <a href="#">Seja um professor</a>
        </li>
        <li>
            <a href="#">Eventos</a>
        </li>
        <li>
            <a href="#">Conheça o EduQuebrada</a>
        </li>
        <li>
            <a href="#">Fale conosco</a>
        </li>
      </ul>
    </div>
<!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <button id="menu-toggle" class="btn btn-secondary toggled"><i id="toggleIcon" class="fa fa-angle-double-down"></i>
                Menu <i class="fa fa-filter"></i></button>                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->
