<div class="construction-i">
  <h1> Página em Construção... <strong>Em Breve Novidades...</strong></h1>
  <br>
  <h4>Retorne para a Homepage. <%= link_to "Homepage", root_path, class: "btn btn-primary" %></h4>
</div>
<span><%= image_tag 'construction.jpg' %></span>
