<%= render 'shared/banner' %>
<div class="container">
  <h2>Conheça nossos cursos:</h2>
  <p>Feito por pessoas que querem compartilhar 
    conhecimento e mudar vidas</p>
</div>
<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/w7ZyuGYNpRQ)">
    Programação
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/1M4wYTqVD4o)">
      Finanças
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/o2TRWThve_I)">
      Design
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/WeIJ441pYFo)">
      Fotografia
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/adYREqRdHCs)">
      Cozinha
    </div>
  </div>
</div>