<h1>Show_Course</h1>

<br>

<div>
  <div>
    <%= @course.name %>
    <%= @course.category %>
    <%= @course.description %>
  <div>
  <div>
    <%= link_to "Back to all", courses_path, class: "btn btn-primary" %>
  </div>
</div>


