.rc-AchieveYourGoals {
  margin-top: 50px;
  margin-bottom: 119px;
  text-align: center;
  width: 100%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rc-AchieveYourGoals__title {
    display: block;
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
}

.rc-AchieveYourGoals__value-prop-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 50px;
}

.rc-AchieveYourGoals__value-prop-item {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 190px;
  width: 100%;
  margin-right: 43px;
}

