.navbar-lewagon {
  justify-content: space-between;
  background: #002855;
  color: #979dac;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item-active {
  color: #7D8597;
}
